<%-include('partials/header')%>

<h1>Index Page</h1>
<h2>Today is: <%= today %> </h2>
<!-- add time -->
<!-- date and time autofill -->
<!-- if clocked in / clocked out -->
<!-- business or personal radio selector -->
<!-- client dropdown -->
<!-- job or p.o. # -->
<p>Punch in</p>
<form class="timeclock" action="/punch" method="POST">
<input type="text" name="ourTime[clientInfo]" placeholder="client info">
<input type="text" name="ourTime[jobInfo]" placeholder="job info">
<input type="submit">
</form>
<!-- show stats for today -->

<!-- change display settings -->
<table>
  <tr>
    <th>Client</th>
    <th>Job</th>
    <th>Time</th>
    <th>Flag</th>
    <th>Action</th>
  </tr>
  <% punchArr.forEach(punch => { %>
    <tr>
      <td><%=punch.clientInfo%></td>
      <td><%=punch.jobInfo%></td>
      <td><%=punch.displayClock%></td>
      <td><%=punch.flag%></td>
      <td>
        <% if(punch.flag === 'in') { %> 
        <form action='/punch' method='POST'><button name='ourTime[Id]' value='<%=punch._id%>'>Punch Out</button></form>
        <% } else { %>
          X
        <% } %>  
      </td>
    </tr>
  <%})%>
</table>
<!-- display week month or such determined by settings -->


<%-include('partials/footer')%>