<%-include('partials/header')%>

<h1>Index Page</h1>
<h2>Today is: <%= today %> </h2>
<!-- add time -->
<!-- date and time autofill -->
<!-- if clocked in / clocked out -->
<!-- business or personal radio selector -->
<!-- client dropdown -->
<!-- job or p.o. # -->
<p>Punch in</p>
<form class="timeclock" action="/punch-in" method="POST">
<input type="text" name="ourTime[clientInfo]" placeholder="client info">
<input type="text" name="ourTime[jobInfo]" placeholder="job info">
<input type="submit">
</form>
<!-- show stats for today -->
<p>Today
<% var aQuery = (el) => el.daySlot == todaySlot %>
 <%= ((punchArr[punchArr.findIndex(aQuery)].earnedHours/1000)/3600).toFixed(2) %>
hours worked
</p>

<!-- change display settings -->
<table>
  <tr>
    <th>DaySlot</th>
    <th>Client</th>
    <th>Job</th>
    <th>Time In</th>
    <th>Time Out</th>
  </tr>
  <% punchArr.forEach(punch => { %>
    <tr>
      <td><%=punch.daySlot%></td>
      <td><%=punch.clientInfo%></td>
      <td><%=punch.jobInfo%></td>
      <td><%=punch.clockIn%></td>
      <td><%=punch.clockOut%></td>
      <td>
        <% if(punch.clockOut) { %>
           <%= ((punch.earnedHours/1000)/3600).toFixed(2) %> Hours
         <% } else { %>  
         <form action='/punch-out' method='POST'><button name='ourTime[Id]' value='<%=punch._id%>'>Punch Out</button></form>
         <% } %>
      </td>
    </tr>
  <%})%>
</table>
<!-- display week month or such determined by settings -->


<%-include('partials/footer')%>